body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background: black;
    width: 430px;
    border-radius: 1rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1rem;
}

.music-player {
    background-color: black;
    /* opacity: 0.5; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;

}


a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.8rem;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 112px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;

}

.nav-option i {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 0.25rem 0.5rem;
}

#nav-search {
    opacity: 0.7;
    transition: 1s;
}

#nav-search:hover {
    opacity: 1;
}


/* libarary section start */

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 70%;
    margin: 0.5rem;
}

.lib-option,
.lib-icon {
    opacity: 0.7;
    transition: 1s;
    padding: 0.5rem 0.8rem;
}

.lib-option:hover,
.lib-icon:hover {
    opacity: 1;
}

.lib-option img {
    width: 20px;
    height: 20px;
}

.lib-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem 0.75rem;
}

.lib-icon {
    font-size: 1.25rem;
    opacity: 0.7;
    transition: 1s;
    cursor: pointer;
}

.lib-icon i {
    padding-right: 0.5rem;

}

.lib-box {
    background-color: #242424;
    border-radius: 0.75rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    height: 138px;
}

.box-head {
    font-weight: 600;

}

.box-text {
    font-size: 0.8rem;
    font-weight: 500;
}

.badge {
    border-radius: 2.5rem;
    padding: 0.4rem 1rem;
    color: black;
    background-color: #fff;
    font-weight: 600;
    margin-top: 0.5rem;
    cursor: pointer;

}

.badge:hover {
    transform: scale(1.02);
}

.sbox {
    margin-top: 1.5rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;

}

.sticky-nav-icons {
    margin-left: 0.7rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7rem;
}

.sticky-nav-option button {
    margin-right: 0.5rem;
}

.dark {
    background-color: black;
    color: #fff;
    border: none;
}

#install-app-icon {
    margin: 0.5rem 0.5rem 0 0.5rem;

}

@media (max-width:1023px) {
    .hide {
        display: none;
    }
}

/* card section starts */
.card {
    background-color: #1a1a1a;
    width: 150px;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 1s;
    cursor: pointer;
}

.card:hover {
    background-color: #242424;
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 0.5rem;
}

.card-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.trending {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-text {
    font-size: 0.8rem;
    opacity: 0.8;
}

.card-title {
    font-weight: 600;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    margin-left:0.5rem;
}

.player {
    width: 50%;
    /* background-color:green; */
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;

}

.player-control-icon {
    height: 0.80rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}



.player-control-icon:hover {
    opacity: 1;
}

.player-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 0.15rem;
    border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}

.curr-time,.tot-time{
    padding:0 0.5rem;
    font-size: 0.75rem;
}

.album img {
    height: 3.50rem;
    width: 3.50rem;
    margin: 0.5rem;

}

.album {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.para {
    padding: 0 0.75rem 0 0.50rem;
}

.para1 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0;

}

.para2 {
    font-size: 0.6rem;
    opacity: 0.8;
    margin-top: 0.4rem;
}

.album i {
    padding: 0 0.5rem;
    opacity: 0.7;
}

.album i:hover {
    opacity: 1;
}

.controls i {
    opacity: 0.7;
    padding: 0 0.5rem;
}

.controls i:hover {
    opacity: 1;
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:0.8rem;

}

.range {
    appearance: none;
    height: 0.15rem;
    margin-top: 0.32rem;

}

.range:hover {
    opacity: 1;
}



.range::-webkit-slider-thumb {
    appearance: none;
    background-color: #ddd;
}
